services:
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: hairipi100@gmail.com
      PGADMIN_DEFAULT_PASSWORD: namaewa
    ports:
      - "80:80"

  postgres:
    image: postgres
    container_name: postgres
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: namaewa
      POSTGRES_DB: local
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  mysql:
    image: mysql
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: namaewa
      MYSQL_DATABASE: local
    ports:
      - "3306:3306"
    volumes:
      - mssql-data:/var/opt/mssql

  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql
    environment:
      ACCEPT_EULA: Y
      MSSQL_SA_PASSWORD: Namaewa12345
    ports:
      - "1433:1433"
    volumes:
      - mssql-data:/var/lib/mssql

  redis:
    image: redis
    ports:
      - "6379:6379"

volumes:
  postgres-data:
  mysql-data:
  mssql-data:
